.nav {
    display: flex;
    justify-content: space-between;
}
.nav h1 {
    color: blueviolet;
    margin: 0;
    font-size: 40px;
}
.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li{
    padding-left: 15px;
    padding-top: 15px;
}

.nav a{
    text-decoration: none;
    color: blueviolet;
}

.nav .nav-search{
    flex: 1px;
    margin-top: 5px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}
.nav .nav-search input{
    flex: 0px;
    color: blueviolet;
    height: 35px;
    border: 1px solid blueviolet;
    border-right: 0px;
}

.nav .nav-search button{
    color: blueviolet;
    height: 39px;
    border: 1px solid blueviolet;

}